{% extends 'Home/Master/admin_base.html' %}
{% load static %}
{% block body %}


<script>
    function readURL(input) {
            if (input.files && input.files[0]) {
                var reader = new FileReader();

                reader.onload = function (e) {
                    $('#blah')
                        .attr('src', e.target.result);
                };

                reader.readAsDataURL(input.files[0]);
            }
        }
</script>


<style>
.container {
  position: relative;
  text-align: center;
  color: white;
}

.bottom-left {
  position: absolute;
  bottom: 8px;
  left: 16px;
}

.top-left {
  position: absolute;
  top: 8px;
  left: 16px;
}

.top-right {
  position: absolute;
  top: 8px;
  right: 16px;
}

.bottom-right {
  position: absolute;
  bottom: 8px;
  right: 16px;
}

.centered {
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.centered1 {
  position: absolute;
  top: 38%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.centered2 {
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
}
</style>

	<!--Main container start -->
	<main class="ttr-wrapper">
		<div class="container-fluid">
			<div class="db-breadcrumb">
				<h4 class="breadcrumb-title">Add listing</h4>
				<ul class="db-breadcrumb-list">
					<li><a href="add-listing.html#"><i class="fa fa-home"></i>Home</a></li>
					<li>Add listing</li>
				</ul>
			</div>
			<div class="row">
				<!-- Your Profile Views Chart -->
                {% if type = "Edit" %}
				<div class="col-lg-12 m-b30">
					<div class="widget-box">
						<div class="wc-title">
							<h4>Add New Banner</h4>
						</div>
						<div class="widget-inner">
							<form class="edit-profile m-b30" action="" method="post" enctype="multipart/form-data">{% csrf_token %}
								<div class="row">
                                    <div class=" col-12">
                                        <center><img id="blah" src="{{ b.img.url }}" alt="" width="800" /></center>
                                        <div class="centered"><h4> <span style="color:white;" id = "text1">{{ b.l1 }}</span></h4> </div>
                                        <div class="centered1"><h1><span style="color:white;" id = "text2">{{ b.l2 }}</span></h1></div>
                                        <div class="centered2"> <h4> <span style="color:white;" id = "text3">{{ b.l3 }}</span> </h4></div>
									</div>

									<div class="col-12">
										<div class="ml-auto">
											<h3>1. Titles and Images</h3>
										</div>
									</div>
									<div class="form-group col-6">
										<label class="col-form-label">Course title</label>
										<div>
											<input class="form-control" name="l1" type="text" id = "text_in1" value="{{ b.l1 }}"
                                                   onkeyup="Add_Text1();">
										</div>
									</div>
									<div class="form-group col-6">
										<label class="col-form-label">Course title</label>
										<div>
											<input class="form-control" name="l2" type="text" id = "text_in2" value="{{ b.l2 }}"
                                                   onkeyup="Add_Text1();">
										</div>
									</div>

                                    <div class="form-group col-6">
										<label class="col-form-label">Position</label>
										<div>
											<input class="form-control" name="p" type="text" value="{{ b.p }}">
										</div>
									</div>
									<div class="form-group col-6">
										<label class="col-form-label">Banner Image</label>
										<div>
											<input type='file' onchange="readURL(this);" name="image"  />
										</div>
									</div>

									<div class="seperator"></div>

									<div class="col-12 m-t20">
										<div class="ml-auto m-b5">
											<h3>2. Description</h3>
										</div>
									</div>
									<div class="form-group col-12">
										<label class="col-form-label">Course description</label>
										<div>
											<textarea id = "text_in3" onkeyup="Add_Text1();" class="form-control" name = "l3">{{ b.l3 }} </textarea>
										</div>
									</div>

									<div class="col-12">
										<button type="submit" class="btn">Save</button>
									</div>
								</div>
							</form>
						</div>
					</div>
				</div>
                {% else %}

                    <div class="col-lg-12 m-b30">
					<div class="widget-box">
						<div class="wc-title">
							<h4>Add New Banner</h4>
						</div>
						<div class="widget-inner">
							<form class="edit-profile m-b30" action="" method="post" enctype="multipart/form-data">{% csrf_token %}
								<div class="row">
                                    <div class=" col-12">
                                        <center><img id="blah" src="" alt="" width="800" /></center>
                                        <div class="centered"><h4> <span style="color:white;" id = "text1"></span></h4> </div>
                                        <div class="centered1"><h1><span style="color:white;" id = "text2"></span></h1></div>
                                        <div class="centered2"> <h4> <span style="color:white;" id = "text3"></span> </h4></div>
									</div>

									<div class="col-12">
										<div class="ml-auto">
											<h3>1. Titles and Images</h3>
										</div>
									</div>
									<div class="form-group col-6">
										<label class="col-form-label">Course title</label>
										<div>
											<input class="form-control" name="l1" type="text" id = "text_in1" value=""
                                                   onkeyup="Add_Text1();">
										</div>
									</div>
									<div class="form-group col-6">
										<label class="col-form-label">Course title</label>
										<div>
											<input class="form-control" name="l2" type="text" id = "text_in2" value=""
                                                   onkeyup="Add_Text1();">
										</div>
									</div>

                                    <div class="form-group col-6">
										<label class="col-form-label">Position</label>
										<div>
											<input class="form-control" name="p" type="text" value="">
										</div>
									</div>
									<div class="form-group col-6">
										<label class="col-form-label">Banner Image</label>
										<div>
											<input type='file' onchange="readURL(this);" name="image" required  />
										</div>
									</div>

									<div class="seperator"></div>

									<div class="col-12 m-t20">
										<div class="ml-auto m-b5">
											<h3>2. Description</h3>
										</div>
									</div>
									<div class="form-group col-12">
										<label class="col-form-label">Course description</label>
										<div>
											<textarea id = "text_in3" onkeyup="Add_Text1();" class="form-control" name = "l3"> </textarea>
										</div>
									</div>

									<div class="col-12">
										<button type="submit" class="btn">Save</button>
									</div>
								</div>
							</form>
						</div>
					</div>
				</div>

                {% endif %}
				<!-- Your Profile Views Chart END-->
			</div>
		</div>
	</main>


<script>
function Add_Text1() {
  var text1 = document.getElementById("text_in1").value;
  var text2 = document.getElementById("text_in2").value;
  var text3 = document.getElementById("text_in3").value;
  document.getElementById("text1").innerHTML = text1;
  document.getElementById("text2").innerHTML = text2;
  document.getElementById("text3").innerHTML = text3;
}

</script>

{% endblock %}