{% extends 'Home/Master/admin_base.html' %}
{% load static %}
{% block body %}


<script>
    function readURL(input) {
            if (input.files && input.files[0]) {
                var reader = new FileReader();

                reader.onload = function (e) {
                    $('#blah')
                        .attr('src', e.target.result);
                };

                reader.readAsDataURL(input.files[0]);
            }
        }
</script>

<script>
    function readURL1(input) {
            if (input.files && input.files[0]) {
                var reader = new FileReader();

                reader.onload = function (e) {
                    $('#blah1')
                        .attr('src', e.target.result);
                };

                reader.readAsDataURL(input.files[0]);
            }
        }
</script>

<script>
    function readURL2(input) {
            if (input.files && input.files[0]) {
                var reader = new FileReader();

                reader.onload = function (e) {
                    $('#blah2')
                        .attr('src', e.target.result);
                };

                reader.readAsDataURL(input.files[0]);
            }
        }
</script>

<script>
    function readURL3(input) {
            if (input.files && input.files[0]) {
                var reader = new FileReader();

                reader.onload = function (e) {
                    $('#blah3')
                        .attr('src', e.target.result);
                };

                reader.readAsDataURL(input.files[0]);
            }
        }
</script>

<script>
    function readURL4(input) {
            if (input.files && input.files[0]) {
                var reader = new FileReader();

                reader.onload = function (e) {
                    $('#blah4')
                        .attr('src', e.target.result);
                };

                reader.readAsDataURL(input.files[0]);
            }
        }
</script>


<style>
.container {
  position: relative;
  text-align: center;
  color: white;
}

.bottom-left {
  position: absolute;
  bottom: 8px;
  left: 16px;
}

.top-left {
  position: absolute;
  top: 8px;
  left: 16px;
}

.top-right {
  position: absolute;
  top: 8px;
  right: 16px;
}

.bottom-right {
  position: absolute;
  bottom: 8px;
  right: 16px;
}

.centered {
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.centered1 {
  position: absolute;
  top: 38%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.centered2 {
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
}
</style>

	<!--Main container start -->
	<main class="ttr-wrapper">
		<div class="container-fluid">
			<div class="db-breadcrumb">
				<ul class="db-breadcrumb-list">
					<li><a href="{% url 'home' %}"><i class="fa fa-home"></i>Home</a></li>
					<li><a href="{% url 'courses' 'Main' 0 %}">Courses</a></li>
					<li>Add New Courses</li>
				</ul>
			</div>
			<div class="row">


                    <div class="col-lg-12 m-b30">
					<div class="widget-box">
						<div class="wc-title">
							<h4>Add New Course</h4>
						</div>
						<div class="widget-inner">
							<form class="edit-profile m-b30" action="" method="post" enctype="multipart/form-data">{% csrf_token %}
								<div class="row">
                                    <div class=" col-6">
                                        <center><img id="blah" width="300" src="" alt="" /></center>
									</div>
									<div class=" col-6">
                                        <center><img id="blah1" width="300" src="" alt="" /></center>
									</div>

									<div class="col-12">
										<div class="ml-auto">
											<h3>0. Event Panel Login</h3>
										</div>
									</div>

									<div class="form-group col-3">
										<label class="col-form-label">Username</label>
										<div>
											{{ form.un }}
										</div>
									</div>

									<div class="form-group col-3">
										<label class="col-form-label">Password</label>
										<div>
											{{ form.ps }}
										</div>
									</div>

									<div class="col-12">
										<div class="ml-auto">
											<h3>1. Event Basic Details</h3>
										</div>
									</div>

									<div class="form-group col-3">
										<label class="col-form-label">Event Category</label>
										<div>
											{{ form.cat }}
										</div>
									</div>

									<div class="form-group col-3">
										<label class="col-form-label">Event Poster</label>
										<div>
											{{ form.img }}
										</div>
									</div>

									<div class="form-group col-3">
										<label class="col-form-label">Logo</label>
										<div>
											{{ form.logo }}
										</div>
									</div>

									<div class="form-group col-3">
										<label class="col-form-label">Event Topic</label>
										<div>
											{{ form.topic }}
										</div>
									</div>

									<div class="form-group col-6">
										<label class="col-form-label">Event Title</label>
										<div>
											{{ form.title }}
										</div>
									</div>

									<div class="form-group col-6">
										<label class="col-form-label">Event Url</label>
										<div>
											{{ form.url }}
										</div>
									</div>

									<div class="form-group col-6">
										<label class="col-form-label">Event Address</label>
										<div>
											{{ form.address }}
										</div>
									</div>

									<div class="form-group col-3">
										<label class="col-form-label">Event Contact</label>
										<div>
											{{ form.call }}
										</div>
									</div>

									<div class="form-group col-3">
										<label class="col-form-label">Email - ID</label>
										<div>
											{{ form.email }}
										</div>
									</div>

									<div class="form-group col-6">
										<label class="col-form-label">Event Map</label>
										<div>
											{{ form.map }}
										</div>
									</div>

									<div class="form-group col-6">
										<label class="col-form-label">Details File</label>
										<div>
											{{ form.file }}
										</div><br>
										<label class="col-form-label">Details File Url</label>
										<div>
											{{ form.file_url }}
										</div>
									</div>
									<div class="form-group col-3">
										<label class="col-form-label">Event Skill</label>
										<div>
											{{ form.skill }}
										</div>
									</div>

									<div class="form-group col-3">
										<label class="col-form-label">Event Duration</label>
										<div>
											{{ form.duration }}
										</div>
									</div>

									<div class="form-group col-3">
										<label class="col-form-label">Registered Students</label>
										<div>
											{{ form.students }}
										</div>
									</div>

									<div class="form-group col-3">
										<label class="col-form-label">Certificate Number</label>
										<div>
											{{ form.c_num }}
										</div>
									</div>

									<div class="seperator"></div>

									<div class="col-12 m-t20">
										<div class="ml-auto m-b5">
											<h3>2. Event Description</h3>
										</div>
									</div>
									<div class="form-group col-6">
										<label class="col-form-label">Event Short description</label>
										<div>
											{{ form.short_des }}
										</div>
									</div>

									<div class="form-group col-6">
										<label class="col-form-label">Event Long description</label>
										<div>
											{{ form.long_des }}
										</div>
									</div>


									<div class="form-group col-6">
										<label class="col-form-label">SEO description</label>
										<div>
											{{ form.seo_des }}
										</div>
									</div>

									<div class="form-group col-6">
										<label class="col-form-label">SEO Keys</label>
										<div>
											{{ form.seo_keys }}
										</div>
									</div>

									<div class="seperator"></div>
									<div class="col-12 m-t20">
										<div class="ml-auto m-b5">
											<h3>3. Fee and Dates</h3>
										</div>
									</div>
									<div class="form-group col-2">
										<label class="col-form-label">Event Charge</label>
										<div>
											{{ form.fee }}
										</div>
									</div>

									<div class="form-group col-3">
										<label class="col-form-label">Event Start Date</label>
										<div>
											{{ form.start_date }}
										</div>
									</div>
									<div class="form-group col-3">
										<label class="col-form-label">Event End Date</label>
										<div>
											{{ form.end_date }}
										</div>
									</div>

									<div class="form-group col-2">
										<label class="col-form-label">Time</label>
										<div>
											{{ form.time }}
										</div>
									</div>

									<div class="form-group col-2">
										<label class="col-form-label">Date</label>
										<div>
											{{ form.date }}
										</div>
									</div>


									<div class="seperator"></div>

									<div class="col-12 m-t20">
										<div class="ml-auto m-b5">
											<h3>4. Event Out Comes</h3>
										</div>
									</div>
									<div class="form-group col-6">
										<label class="col-form-label">Course Key Point - 1</label>
										<div>
											{{ form.l1 }}
										</div>
									</div>

									<div class="form-group col-6">
										<label class="col-form-label">Course Key Point - 2</label>
										<div>
											{{ form.l2 }}
										</div>
									</div>

									<div class="form-group col-6">
										<label class="col-form-label">Course Key Point - 3</label>
										<div>
											{{ form.l3 }}
										</div>
									</div>
									<div class="form-group col-6">
										<label class="col-form-label">Course Key Point - 4</label>
										<div>
											{{ form.l4 }}
										</div>
									</div>
									<div class="form-group col-6">
										<label class="col-form-label">Course Key Point - 5</label>
										<div>
											{{ form.l5 }}
										</div>
									</div>
									<div class="form-group col-6">
										<label class="col-form-label">Course Key Point - 6</label>
										<div>
											{{ form.l6 }}
										</div>
									</div>
									<div class="form-group col-6">
										<label class="col-form-label">Course Key Point - 7</label>
										<div>
											{{ form.l7 }}
										</div>
									</div>
									<div class="form-group col-6">
										<label class="col-form-label">Course Key Point - 8</label>
										<div>
											{{ form.l8 }}
										</div>
									</div>
									<div class="form-group col-6">
										<label class="col-form-label">Course Key Point - 9</label>
										<div>
											{{ form.l9 }}
										</div>
									</div>
									<div class="form-group col-6">
										<label class="col-form-label">Course Key Point - 10</label>
										<div>
											{{ form.l10 }}
										</div>
									</div>

								<div class="seperator"></div>
									<div class="col-12 m-t20">
										<div class="ml-auto m-b5">
											<h3>5. Certificate Details</h3>
										</div>
									</div>

									<div class="form-group col-4">
										<center><img id="blah2" width="300" src="" alt="" /></center>
										<label class="col-form-label">First Author Details</label>
										<div>
											{{ form.n1 }}
											{{ form.d1 }}
											{{ form.w1 }}
											{{ form.s1 }}
										</div>
									</div>

									<div class="form-group col-4">
										<center><img id="blah3" width="300" src="" alt="" /></center>
										<label class="col-form-label">Second Author Details</label>
										<div>
											{{ form.n2 }}
											{{ form.d2 }}
											{{ form.w2 }}
											{{ form.s2 }}
										</div>
									</div>

									<div class="form-group col-4">
										<center><img id="blah4" width="300" src="" alt="" /></center>
										<label class="col-form-label">Third Author Details</label>
										<div>
											{{ form.n3 }}
											{{ form.d3 }}
											{{ form.w3 }}
											{{ form.s3 }}
										</div>
									</div>



									<div class="col-12">
										<button type="submit" class="btn">Save</button>
									</div>
								</div>
							</form>
						</div>
					</div>
				</div>

				<!-- Your Profile Views Chart END-->
			</div>
		</div>
	</main>


<script>
function Add_Text1() {
  var text1 = document.getElementById("text_in1").value;
  var text2 = document.getElementById("text_in2").value;
  var text3 = document.getElementById("text_in3").value;
  document.getElementById("text1").innerHTML = text1;
  document.getElementById("text2").innerHTML = text2;
  document.getElementById("text3").innerHTML = text3;
}

</script>

{% endblock %}