{% extends 'Home/Master/admin_base.html' %}
{% load static %}
{% block body %}


	<!--Main container start -->
	<main class="ttr-wrapper">
		<div class="container-fluid">
			<div class="db-breadcrumb">
				<h4 class="breadcrumb-title">Courses</h4>
				<ul class="db-breadcrumb-list">
					<li><a href="courses.html#"><i class="fa fa-home"></i>Home</a></li>
					<li>Courses</li>
				</ul>
			</div>
			<div class="row">
				<!-- Your Profile Views Chart -->
				<div class="col-lg-12 m-b30">
					<div class="widget-box">
						<div class="wc-title">
							<a href="{% url 'courses' 'Add' 0 %}" class="btn green radius-xl outline">Add New Course</a>
						</div>
						<div class="widget-inner">
							{% for i in courses %}<div class="card-courses-list admin-courses">
								<div class="card-courses-media">
									<img src="{{ i.img.url }}" alt="i.name"/>
								</div>
								<div class="card-courses-full-dec">
									<div class="card-courses-title">
										<h4>{{ i.name }}</h4>
									</div>
									<div class="card-courses-list-bx">
										<ul class="card-courses-view">
											<li class="card-courses-user">
												<div class="card-courses-user-pic">
													<img src="{{ i.t1.img.url }}" alt=""/>
												</div>
												<div class="card-courses-user-info">
													<h5>{{ i.t1.position }}</h5>
													<h4>{{ i.t1.name }}</h4>
												</div>
											</li>
											<li class="card-courses-categories">
												<h5>Category</h5>
												<h4>{{ i.cat }}</h4>
											</li>
											<li class="card-courses-review">
												<h5>Review Rating</h5>
												<ul class="cours-star">
													{% if i.review >= 1 %}
														<li class="active"><i class="fa fa-star"></i></li>
													{% else %}
														<li><i class="fa fa-star"></i></li>
													{% endif %}

													{% if i.review >= 2 %}
														<li class="active"><i class="fa fa-star"></i></li>
													{% else %}
														<li><i class="fa fa-star"></i></li>
													{% endif %}

													{% if i.review >= 3 %}
														<li class="active"><i class="fa fa-star"></i></li>
													{% else %}
														<li><i class="fa fa-star"></i></li>
													{% endif %}

													{% if i.review >= 4 %}
														<li class="active"><i class="fa fa-star"></i></li>
													{% else %}
														<li><i class="fa fa-star"></i></li>
													{% endif %}

													{% if i.review >= 5 %}
														<li class="active"><i class="fa fa-star"></i></li>
													{% else %}
														<li><i class="fa fa-star"></i></li>
													{% endif %}
												</ul>
											</li>
											<li class="card-courses-stats">
												<a href="courses.html#" class="btn button-sm green radius-xl">{{ i.students }}</a>
											</li>
											<li class="card-courses-price">
												<h5 class="text-primary">&#8377; {{ i.fee }}</h5>
											</li>
										</ul>
									</div>
									<div class="row card-courses-dec">
										<div class="col-md-12">
											<h6 class="m-b10">Course Description</h6>
											<p>{{ i.short_des }}</p>
										</div>
										<div class="col-md-12">
											<a href="{% url 'courses' 'Edit' i.id %}" class="btn green radius-xl outline">Edit</a>
											<a href="{% url 'courses' 'Delete' i.id %}" class="btn red outline radius-xl ">Delete</a>
											<a href="{% url 'content' 'Main' i.id %}" class="btn bnt-info radius-xl "><b style="color:white;">Course Content</b></a>
										</div>
									</div>

								</div>
							</div>
							{% endfor %}


						</div>
					</div>
				</div>
				<!-- Your Profile Views Chart END-->
			</div>
		</div>
	</main>


{% endblock %}